.parser-component {
	display: flex;
	flex-direction: column;
	padding: 10px 10px;
	height: 100%;
}
.parser-title {
	width: 50%;
}
.parser-editor {
	flex: 1;
	margin-top: 20px;
	.CodeMirror {
		width: 50%;
	}
}