::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: #ccc;
}
body {
	color: #333;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
}
.index-page {
	overflow: hidden;
	height: 100vh;
}
[class*=-view] {
	height: calc(100vh - 50px);
}